

body {
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 400;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: none;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}

/***********************************
************************************
Responsive media queries
************************************
***********************************/

.header {
  background: url('../img/cars.png') no-repeat fixed;
  background-size: cover;
  min-height: 630px;
  position: relative;
}

.navbar-default {
  background-color: transparent;
  border: 0px;
  padding: 20px 0;
  transition: all 0.3s;
}

.navbar-brand {
  font-size: 36px;
 
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav>li>a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fffde0;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fffde0;
  background-color: transparent;
}

@media (max-width: 768px) {
	.navbar-collapse {
		background: rgba(50, 60, 70, 0.9);
	}
}

.top-nav-collapse {
  padding: 0;
  background: rgba(50, 60, 70, 0.9);
}

.bg-color {
  background-color: RGBA(0, 0, 0, 0.85);
  min-height: 650px;
}

.navbar-border {}

.banner-text {
  border-left: 5px solid #e45652;
  padding: 15px 40px;
  color: #fff;
  margin-top: 170px;
}

.banner-text h2, .banner-text p {
  font-size: 40px;
  font-weight: 400;
  font-family: 'Questrial', sans-serif;
}

.banner-text h2 span {
  font-family: 'Satisfy';
}

.overlay-detail {
  margin: 0 auto;
  padding-top: 40px;

}

.overlay-detail a i {
  text-align: center;
  position: absolute;
  bottom: -140px;
  font-size: 24px;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  border-radius: 50%;

}

.deco {
  font-family: 'Satisfy', cursive;
}

#about {
  background: url('../img/about-banner.jpg') no-repeat;
  background-size: cover;
  margin-bottom: -3px;
}

.section-padding {
  padding: 60px 0px;
}

.title {
  font-size: 24px;
  margin-bottom: 50px;
}

.title-text {
  padding: 0px 25px 0px 0px;
  border-right: 5px solid #e45652;
  font-size: 24px;
}

.about-text p {
  color: #444;
}

.abt-list li {
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 400;
}

#portfolio {
  background-color: #f0f1e9;
}

.grid-padding {
  padding: 0 8px;
}

.grid-padding img {
  margin-bottom: 15px;
}

.padding-right-zero {
  padding-right: 0px !important;
}

#myGrid {
  margin-top: 50px;
}

.test-sec blockquote {
  background: #eee;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 15px;
  position: relative;
}

.test-sec blockquote::after {
  content: '';
  position: absolute;
  bottom: -14px;
  margin-left: 10px;
  border-top: 14px solid #eee;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid RGBA(0, 0, 0, 0.18);
}

.test-sec .carousel-info span {
  display: block;
}

.test-sec span.testimonials-name {
  color: #62646f;
  font-weight: 600;
  margin: 16px 0 5px;
}

#contact {
  width: 100%;
  background-color: RGBA(8, 7, 7, 0.92);
}

#contact .btn-primary {
  background: #e45652;
  border: 1px solid #e45652;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  background: #fff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  background: #fff;
}

#sendmessage.show, #errormessage.show, .show {
  display: block;
}

footer {
  padding: 40px 0;
  background: #F2F3EB;
}

.footer a {
  color: #e45652;
}

.footer__navigation li, .social-list li {
  display: inline-block;
}

.contact-sec h2 {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  padding: 15px 0px;
}

.footer__navigation li a {
  display: inline-block;
  color: #767676;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  font-size: 1.2em;
  line-height: 1.625em;
  margin-top: 0;
  margin-bottom: 1.625em;
  padding-right: 10px;
}

.contact-sec p {
  color: #fff;
  font-size: 18px;
  padding: 16px 0px 24px;
}

.contact-sec i {
  padding-right: 15px;
}

.contact-sec a {
  color: #FFF;
  background-color: RGBA(174, 142, 142, 0.7);
  display: inline-block;
  padding: 16px 34px;
  font-size: 18px;
  transition: all 0.5s ease-in 0s;
}

.carousel-info, blockquote {
  float: left;
}

.social-list li {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  opacity: .5;
  display: inline-block;
  margin: 0;
}

.social-list li a {
  font-size: 28px;
  margin-right: 15px;
}

.type-underline, .type-underline:hover {
  color: #767676;
}

.footer__lower {
  margin-top: 3.25em;
}

.type--fine-print {
  color: #767676;
}

.navbar-toggle {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
}

.navbar-nav>li>a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbar-brand {
  margin-top: 9px;
}

.grid-item {
  width: 200px;
}

.grid-item--width2 {
  width: 400px;
}
 .modal-backdrop {
  z-index: -1;
}
}
.modal-login {
    width: 350px;
  }
  .modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-login .modal-header {
    border-bottom: none;
        position: relative;
    justify-content: center;
  }
  .modal-login .close {
        position: absolute;
    top: -10px;
    right: -10px;
  }
  .modal-login h4 {
    color: #636363;
    text-align: center;
    font-size: 26px;
    margin-top: 0;
  }
  .modal-login .modal-content {
    color: #999;
    border-radius: 1px;
      margin-bottom: 15px;
        background: #fff;
    border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 25px;
        
}
    }
  .modal-login .form-group {
    margin-bottom: 20px;
  }
  .modal-login label {
    font-weight: normal;
    font-size: 13px;
  }
  .modal-login .form-control {
    min-height: 38px;
    padding-left: 5px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    border-radius: 0;
  }
  .modal-login .form-control:focus {
    border-color: #ccc;
  }
  .modal-login .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
    border-radius: 0;
  }
    .modal-login .btn {        
        font-size: 16px;
        font-weight: bold;
    background: #19aa8d;
        border-radius: 3px;
    border: none;
    min-width: 140px;
        outline: none !important;
    }
  .modal-login .btn:hover, .modal-login .btn:focus {
    background: #179b81;
  }
  .modal-login .hint-text {
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
  }
  .modal-login .modal-footer {
    color: #999;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -25px -25px;
    font-size: 13px;
    justify-content: center;
  }
  .modal-login a {
    color: #fff;
    text-decoration: underline;
  }
  .modal-login a:hover {
    text-decoration: none;
  }
  .modal-login a {
    color: #19aa8d;
    text-decoration: none;
  } 
  .modal-login a:hover {
    text-decoration: underline;
  }
  .modal-login .fa {
    font-size: 21px;
  }
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }

/***********************************
************************************
Responsive media queries
************************************
***********************************/

@media (min-width: 551px) and (max-width: 980px) {
  .title-text {
    margin-bottom: 15px;
  }
}

@media (min-width: 100px) and (max-width: 550px) {
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-brand {
    margin-top: 0px;
  }
  .carousel-info {
    margin-bottom: 30px;
  }
  .type--fine-print {
    text-align: center;
  }
  .text-center-xs {
    text-align: center !important;
  }
  .social-list {
    margin-bottom: 15px;
  }
  .banner-text h2, .banner-text p {
    font-size: 30px;
  }
  .title-text {
    margin-bottom: 15px;
  }
}
