#labels {
    color: #fff;
}

.main-sidebar .nav .nav-item .nav-link {
    border-bottom: 0px;
    background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

img {
    border-radius: 50%;


}

[data-href] {
    cursor: pointer;

}

[data-href]:hover {
    background-color: khaki;
}